<div class="container">
    <h1>Welcome to Tauri + Angular!</h1>

    <div class="row">
        <a href="https://tauri.app" target="_blank">
            <img src="/assets/tauri.svg" class="logo tauri" alt="Tauri logo" />
        </a>
        <a href="https://angular.io" target="_blank">
            <img
                    src="/assets/angular.svg"
                    class="logo angular"
                    alt="Angular logo"
            />
        </a>
    </div>

    <p>Click on the logos to learn more about the frameworks</p>

    <div class="row">
        <div>
            <input #queryInput id="query-input" placeholder="Enter a query..." value="show tables"/>
            <button type="button" (click)="query(queryInput.value)">Run</button>
        </div>
    </div>

    <div class="row">
        <app-query-result #queryResult></app-query-result>
    </div>
</div>