<div class="container">

    <form class="example-form">

        <mat-form-field class="example-full-width">
            <mat-label>Query</mat-label>
            <textarea #querytext matInput placeholder="Enter a query...">SHOW TABLES</textarea>
        </mat-form-field>

        <button type="button" mat-fab extended (click)="query(querytext.value)">
            <mat-icon>arrow_right</mat-icon>
        </button>

    </form>

    <div class="row">
        <app-query-result #queryResult></app-query-result>
    </div>
</div>
