<mat-card>

    <mat-card-header>
        <mat-card-title>Editor</mat-card-title>
    </mat-card-header>

    <div class="row">
        <form class="example-form" (ngSubmit)="onSubmit()">
            <ngx-monaco-editor #m class="my-code-editor" [options]="editorOptions" [model]="code" (onInit)="onInit($event)"></ngx-monaco-editor>

            <button mat-fab extended>
                <!--<mat-icon>arrow_right</mat-icon>-->
                Run
            </button>
        </form>
    </div>
</mat-card>
<app-query-results #queryResults></app-query-results>
